<div class="ts-shop-header">
  <mat-toolbar class="ts-shop-header-title">
    {{ title }}
    <span class="tshop-spacer"></span>
    <button mat-button mat-raised-button (click)="logout()">
      <mat-icon class="mat-icon">exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <div *ngIf="isAuthenticated()" class="ts-shop-nav-bar">
    <a routerLink="/clients" routerLinkActive="ts-shop-nav-bar-active">Clients</a>
    <a routerLink="/products" routerLinkActive="ts-shop-nav-bar-active">Products</a>
    <a routerLink="/orders" routerLinkActive="ts-shop-nav-bar-active">Orders</a>
    <a routerLink="/statistics" routerLinkActive="ts-shop-nav-bar-active">Sales Statistics</a>
    <a routerLink="/profile" routerLinkActive="ts-shop-nav-bar-active">Profile</a>
  </div>
</div>
<router-outlet></router-outlet>
