<div class="ts-shop-header">
  <div class="ts-shop-header-title">
    {{ title }}
  </div>
  <div class="ts-shop-nav-bar">
    <a routerLink="/clients" routerLinkActive="active">Clients</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/orders" routerLinkActive="active">Orders</a>
    <a routerLink="/statistics" routerLinkActive="active">Sales Statistics</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
  </div>
</div>
<router-outlet></router-outlet>