<div *ngIf="isLoading" class="ts-shop-loading">
  <div class="ts-shop-loading-indicator"></div>
  <div>Loading</div>
</div>
<div [ngClass]="{ 'ts-shop-hidden': isLoading }">
  <div class="ts-shop-filters">
    <input type="text" placeholder="Name" [(ngModel)]="filters.name" (ngModelChange)="filterProducts()">
    <input type="text" placeholder="Price" [(ngModel)]="filters.price" (ngModelChange)="filterProducts()">
    <button type="button" class="ts-shop-btn-remove" [disabled]="isFiltersEmpty()" (click)="clearFilters()">&times;</button>
  </div>
  <table class="ts-shop-base-table ts-shop-products-table">
    <thead class="ts-shop-base-table-header">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Weight</th>
        <th>In stock</th>
        <th>Category</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of (products | tsShopFilter : filters)" [ngStyle]="setAvailabilityColour(product)">
        <td>{{product.name}}</td>
        <td>{{product.price | currency : '€'}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.inStock}}</td>
        <td>{{product.category}}</td>
        <td>{{product.volume}}</td>
      </tr>
    </tbody>
  </table>
</div>