/* You can add global styles to this file, and also import other style files */

.ts-shop-base-table-header {
    background-color: #e20074;
    color: #fff;
}

.ts-shop-base-table {
    border-collapse: collapse;
    border: 1px solid;
}

.ts-shop-base-table td, th {
    padding: 4px;
    border: 1px solid;
    border-color: rgb(227, 228, 230);
}

.ts-shop-base-table tbody tr:hover {
    background-color: #f1efef !important;
}

body {
    font-size: 15px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

.ts-shop-hidden {
    display: none;
}