/* You can add global styles to this file, and also import other style files */

.ts-shop-base-table-header {
    background-color: #e20074;
    color: #fff;
}

.ts-shop-base-table {
    border-collapse: collapse;
    border: 1px solid;
}

.ts-shop-base-table td, th {
    padding: 4px;
    border: 1px solid;
    border-color: rgb(227, 228, 230);
}

.ts-shop-base-table tbody tr:hover {
    background-color: #f1efef !important;
}

body {
    font-size: 15px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

.ts-shop-hidden {
    display: none;
}

.ts-shop-loading {
    text-align: center;
    font-size: 20px;

    /* Center loading indicator on a page  */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    /***************************************/
}
  
.ts-shop-loading div {
    margin: 0 auto;
}

.ts-shop-loading-indicator {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1.5s linear infinite;
    border-top: 5px solid #e20074;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ts-shop-btn {
  background-color: #e20074;
  margin: 0 0 0 4px;
  color: #fff;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: bold;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
}

.ts-shop-btn:hover {
  background-color: #fcfcfc;
  color: #e20074;
  border: 1px solid #e20074;
  cursor: pointer;
  outline: none;
}
